<div>
	<h3 class="page-header pull-right">About</h3>
</div>
<br/><br/>
<div>
	<p>A System for controlling devices and appliances from anywere. It is made up from two components. A node server and A device server.</p>
	<p><a href="mailto:gudjonholm@gmail.com?subject=About the system Ardos&body=Your query:%0A%0A%0APlease provide details about you:%0A%0AWhere from did you get the system:%0A%0AHow did you find out that it existed:%0A%0A" target="_blank">Send a email</a> regarding the system.
	</p>
</div>
<div>
		<table id="table-device" class="table table-bordered table-hover">
		<thead>
			<tr>
				<td colspan="2" style="text-align: center;font-weight: bold">Author</td>
			</tr>
		</thead>
		<!--<tfoot>
			<tr>
				<td>Sum</td>
				<td>$180</td>
			</tr>
		</tfoot>-->
		<tbody>
			<tr><td>Name</td> 		<td>Guðjón Hólm Sigurðsson</td></tr>
			<tr><td>email</td> 		<td>gudjonholm@gmail.com</td></tr>
			<tr><td>Homepage</td>	<td><a href="http://www.guttih.com" target="_blank">www.guttih.com</a></td></tr>
			<tr>
				<td>Other accounts</td> 		
				<td>
						<a href="https://github.com/guttih" target="_blank">Github</a>
						<a href="https://plus.google.com/103373576637237503473" target="_blank">Google+</a>
						<a href="https://www.facebook.com/guttih" target="_blank">Facebook</a>
						<a href="https://www.youtube.com/user/guttih" target="_blank">Youtube channel</a>
						<a href="https://www.youtube.com/user/arduinois" target="_blank">My Arduino channel</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>