<h2>New card </h2>

<h3 class="text-center">Javascript control card</h3>
<div class="acediv">
		<div id="editorjs"></div>
</div>
<p>jebb</p>
<script src="js\jquery-3.1.0.min.js"></script>

<script src="/ace-builds/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="js/acecode.js" type="text/javascript" charset="utf-8"></script>
<script src="js/bootstrap.min.js"></script>	
