<div class="row">
	<h3 class="page-header pull-right">New Control</h3>
</div>



<div class="row row-padd">
<h4 class="text-left">Name</h4>
		<p>The name of the control needs to be exactly the same as the id of the template</p>
<input type="text" class="form-control" id="control-name" value="svgctrl">
</div>

<div class="row  row-padd">
	<h4 class="text-left">Description</h4>
	<p>Descripe what your control does and/or what it can be used for.</p>
	<div style="" class="acediv ace-text-container">

		<div id="editor-desc" class="ace-text"
>Use this control to draw images on your card. You could for example use this control 
to draw some kind of an background on your control card.  You could use it to 
draw frames around other controls or add descriptive text around other controls.
		</div>
	</div>
</div>
<div class="row  row-padd">
	<h4 class="text-left">Template</h4>
	<p>Here you need to insert the HTML template of your control.</p>
	<p style="font-size:11px; font-style: italic;">Don't worry about the comment involving &lt;!DOCTYPE html&gt;</p>
	<div class="acediv">
		<div id="editor-html-ctrl"
>&lt;div id="svgctrl" class="svgctrl" style="position:absolute"&gt;
	&lt;svg width="100"  height="100" class="control"&gt;
	&lt;/svg&gt;
&lt;/div&gt; &lt;!--svgctrl--&gt;
</div>
	</div>
</div>
<div class="row  row-padd">
		<h4 class="text-left">Control class</h4>
		<p>Here you need to insert the JavaScript class of you control.</p>
	<div class="acediv">
		<div id="editor-js-ctrl"
>class SvgCtrl extends ControlElement {
	constructor(idExtender, left, top, width, height){
		super('svgctrl', idExtender,  left, top);
		var svg = super.getSvg();
		svg.attr('width', width);
		svg.attr('height', height);
	}
	addItem(tag, attributes){
		var obj= super.makeSVG(tag,	attributes);
		var svg = super.getSvg();
		svg.append(obj);
	}
	addLine(x1, y1, x2, y2, style){
		var obj= super.makeSVG(
				'line', 
				{x1:x1, y1:y1, x2:x2, y2:y2, style: style});
		var svg = super.getSvg();
		svg.append(obj);
	}
	addRect(x, y, width, height, style){
		var obj= super.makeSVG(
				'rect', 
				{x:x, y:y, width:width, height:height, style: style});
		var svg = super.getSvg();
		svg.append(obj);
	}
}//class
		</div>
	</div>
</div>

<div class="row  row-padd">
	<button id="btnSaveControl" type="button" class="btn btn-success pull-right">Save control</button>
</div>



<script src="js\jquery-3.1.0.min.js"></script>
<script src="/ace-builds/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="js/acecode.js" type="text/javascript" charset="utf-8"></script>
<script src="js/bootstrap.min.js"></script>	
