<div class="row">
	<h3 class="page-header pull-right">New Controller</h3>
</div>


<div class="container">
	<div class="row">
		<h4 class="text-left">Description</h4>
		<p>Descripe what your control does.</p>
		<div style="" class="acediv ace-text-container">
<!-- ace description editor-->
<div id="editor-desc" class="ace-text">The better you describe your control
	the easier it is for other users to use it.</div>
</div>
	</div>
	<div class="row">
		<h4 class="text-left">Template</h4>
		<p>Here you need to insert the HTML template of your control.</p>
		<p style="font-size:11px; font-style: italic;">Don't worry about the comment involving &lt;!DOCTYPE html&gt;</p>
		<div class="acediv">

			<div id="editor-html-ctrl"></div>
		</div>
		<h4 class="text-left">Control class</h4>
		<p>Here you need to insert the JavaScript class of you control.</p>
		<div class="acediv">
			<div id="editor-js-ctrl"></div>
		</div>
	</div>

	<div class="row">
		<button id="btnSaveControl" type="button" class="btn btn-default pull-right">Save control</button>
	</div>

</div>

<script src="js\jquery-3.1.0.min.js"></script>
<script src="/ace-builds/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="js/acecode.js" type="text/javascript" charset="utf-8"></script>
<script src="js/bootstrap.min.js"></script>	
