<h3>New controller </h3>


<div class="container">
	<div class="row">
		<h4 class="text-center">Html template</h4>
		<div class="acediv">
				<div id="editorHtml"></div>
		</div>
		<h4 class="text-center">Javascript control class</h4>
		<div class="acediv">
				<div id="editorjs"></div>
		</div>
	</div>

	<div class="row">
		<button id="btnSaveControl" type="button" class="btn btn-default pull-right">Save control</button>
	</div>

</div>

<script src="js\jquery-3.1.0.min.js"></script>
<script src="/ace-builds/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="js/acecode.js" type="text/javascript" charset="utf-8"></script>
<script src="js/bootstrap.min.js"></script>	
