<div class="row">
	<h3 class="page-header pull-right">device log</h3>
</div>
<p>Device: "{{item.name}}".</p>
<p>
	Seinna þarf svo að vera hægt að skoða data í línuriti, og þess vegna þarf að finna plugin sem er gott í því
</p>
{{#if errors}}
      {{#each errors}}
        <div class="alert alert-danger">{{msg}}</div>
      {{/each}}
{{/if}}
<div class="row">
	<p> </p>
</div>
<div class="row">
	<div id = "device-list" class="device-list list-group">
	<!-- listItems will be added here-->
	</div>
</div>
{{#if device}} <!-- if you want to edit a specific user -->
			<script type="text/javascript">
			var device = {{{device}}};
		</script>
{{/if}}

<table id="table-log" class="table table-bordered table-hover">
	<thead>
	
	</thead>
		<!--<tfoot>
			<tr>
				<td>Sum</td>
				<td>$180</td>
			</tr>
		</tfoot>-->
		<tbody>
		</tbody>
	</table>



















<script src="/js/bootstrap.min.js"></script>	
<script src="/js/devicelog.js"></script>	
