<div class="row">
	<h3 class="page-header pull-right">New Device</h3>
</div>




<p>Server was started at <span id="serverStarted">Not time set</span> </p>
<p>Server has been running for <span id="serverRunning">Not time set</span> </p>

<button id="btnGetDevices" type="button" class="btn btn-success">Get devices</button>
 {{#if success_msg}}
	<div class="alert alert-success">{{success_msg}}</div>
{{/if}}


<!--Move this to a new register device file-->
<form method="post" action="/devices/register" id="deviceform">
	<div class="form-group">
		<label>Name</label>
		<input type="text" class="form-control" placeholder="Name this device" name="name" required>
	</div>
	<div class="form-horizontal">
		<label>Description</label>
		<div class="form-group">
			
			<div class="col-md-12">
				<textarea name="description" form="deviceform" class="form-control" rows="3" placeholder="Descripe your device, where is it, what does it control.  Is it dangerous?"></textarea>
			</div>
		</div>
	</div>
	<div class="form-group">
		<label>url</label>
		<input type="text" class="form-control" placeholder="http://192.168.1.101:1234" name="url" required>
	</div>
	<button type="submit" class="btn btn-default">Submit</button>
</form>

<div class="form-group col-md-6">
		<div class="form-group col-md-4">
			<label for="devicelist" class="control-label">Your devices</label>
			<select id="devicelist" class="form-control" name="devicelist"></select>
		</div>
		<div class="form-group col-md-2">
		<button id="btnSetStarted" type="button" class="btn btn-info">Get running time</button>
		</div>
</div>
