<div class="row">
	<h3 class="page-header pull-right">Help</h3>
</div>
<div>
	<h4>Using this system</h4>
	<p>Todo: When the system has been developed, write a help about it.</p>
	<p>for now view the , <a href="https://github.com/guttih/ardos/blob/master/README.md" target="_blank">readme on Github</a></p>
	<br />
	<h4>Developing cards and controls</h4>
	<p>
		When writing code for a control or a card you will have access to bootstrap and jquery.  Additionally you will have access the files <a href="/docs/controls/controlelements.html" target="_blank">contolelements.js</a>, which contains useful classes to help you creating your code.
		<a href="/docs/controls/pin.html" target="_blank">pin.js</a>, which contains useful classes to help you creating your code.
		<a href="/docs/controls/device.html" target="_blank">device.js</a>, which contains useful classes to help you creating your code.
	</p>

	
	
</div>