<div class="row">
	<h3 class="page-header pull-right">Help</h3>
</div>
<div>
	<p>Todo: When the system has been developed, write a help about it.</p>
	<p>for now view the , <a href="https://github.com/guttih/ardos/blob/master/README.md" target="_blank">readme on Github</a></p>
	
</div>