<div class="row">
	<h3 class="page-header pull-right">Help</h3>
</div>
<div>
	<h4>Readme.md</h4>
	<br />
</div>
<div>
<div id="markdown"> </div> 
</div>
<script src="/vendor/showdown.min.js"></script>
<script src="/js/docshelp.js"></script>
<script src="/js/help.js"></script>	

