<div class="row">
	<h3 class="page-header pull-right">Licence</h3>
</div>
<div>
	<h4>Licence (<a href="/COPYING.txt">text version</a>)</h4>
	<br />
</div>
<div>
<div id="markdown"> </div> 
</div>
<script src="/vendor/showdown.min.js"></script>
<script src="/js/docshelp.js"></script>
<script src="/js/licence.js"></script>