<div class="row">
	<h3 class="page-header pull-right">All Trigger actions</h3>
</div>

{{#if errors}}
      {{#each errors}}
        <div class="alert alert-danger">{{msg}}</div>
      {{/each}}
{{/if}}
<div class="row">
	<p> </p>
</div>
<div class="row">
	<div id = "device-list" class="device-list list-group">
	<!-- listItems will be added here-->
	</div>
</div>

<table id="table-triggerAction" class="table table-bordered table-hover">
	<thead>
	</thead>
	<tfoot>
	</tfoot>
	<tbody>
	</tbody>
</table>

<button onclick="window.location.href='/triggeractions/register'" class="btn btn-xs btn-default"> 
	<span class="glyphicon glyphicon-plus"></span>&nbsp;Add Trigger action
</button>

<p class="pull-right">
	<button onclick="window.location.href='/triggeractions/list-event-queue'" class="btn btn-xs btn-default"> 
		<span class="glyphicon glyphicon-tasks"></span>&nbsp;Upcoming events&nbsp;
	</button>
</p>
<script src="/js/bootstrap.min.js"></script>	
<script src="/js/list-triggeraction-all.js"></script>	
