<div class="row">
	<h3 class="page-header pull-right">List Cards</h3>
</div>
{{#if errors}}
      {{#each errors}}
        <div class="alert alert-danger">{{msg}}</div>
      {{/each}}
{{/if}}

<script src="/ace-builds/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/bootstrap.min.js"></script>	
