<div class="row">
	<h3 class="page-header pull-right">Card list</h3>
</div>
{{#if errors}}
      {{#each errors}}
        <div class="alert alert-danger">{{msg}}</div>
      {{/each}}
{{/if}}
<div class="row">
	<p> </p>
</div>
<div class="row">
	<div id = "card-list" class="card-list list-group">
	<!-- listItems will be added here-->
	</div>
</div>

<div class="active-list pull-right">
		<label class="active-label" for="scales">&nbsp;Active Cards&nbsp;</label>
		<input type="checkbox" id="active" class="active-input" name="active" checked="">
</div>

<script src="/js/bootstrap.min.js"></script>	
<script src="/js/list-cards.js"></script>	
