<div class="row">
	<h3 class="page-header pull-right">Control list</h3>
</div>
{{#if errors}}
      {{#each errors}}
        <div class="alert alert-danger">{{msg}}</div>
      {{/each}}
{{/if}}
<div class="row">
	<p> </p>
</div>
<div class="row">
	<div id = "control-list" class="control-list list-group">
	<!-- listItems will be added here-->
	</div>

</div>
<div 	class="active-list pull-right"
		data-toggle="tooltip" data-container="body" data-placement="left" title="If un-checked only in-active cards will be displayed in the list.">
		<label class="active-label" for="scales">&nbsp;Active Controls&nbsp;</label>
		<input type="checkbox" id="active" class="active-input" name="active" checked="">
</div>

<script src="/js/bootstrap.min.js"></script>	
<script src="/js/list-controls.js"></script>	
