<div class="row">
	<h3 class="page-header pull-right">New Control</h3>
</div>
{{#if errors}}
      {{#each errors}}
        <div class="alert alert-danger">{{msg}}</div>
      {{/each}}
{{/if}}
{{#if item}} <!-- if you want to edit a specific control -->
			<div id='item' data-control='{{{item}}}' />
{{/if}}
<form  method="post" id="control-form">
	<div class="row row-padd">
		<h4 class="text-left">Name</h4>
			<p>The name of the control needs to be exactly the same as the id of the template</p>
		<input type="text"   id="name"     name="name" class="form-control" value="" placeholder="Name of your control">
		<input type="hidden" id="id"       name="id" value="">
		<input type="hidden" id="code"     name="code" value="">
		<input type="hidden" id="template" name="template" value="">
	</div>

	<div class="form-horizontal">
		<label>Description</label>
		<p>Descripe what your control does and/or what it can be used for.</p>
		<div class="form-group">
			
			<div class="col-md-12">
				<textarea id="description" name="description" form="control-form" class="form-control" rows="3" placeholder="Descripe your control, and how to use it."></textarea>
			</div>
		</div>
	</div>
	<div class="row row-padd">
		<h4 class="text-left">Control class</h4>
		<p>Here you need to insert the JavaScript class of you control.</p>
		<div class="acediv">
			<div id="editor-js-ctrl"></div>
		</div>
	</div>
	<div class="row row-padd">
		<h4 class="text-left">Template</h4>
		<p>Here you need to insert the HTML template of your control.</p>
		<p style="font-size:11px; font-style: italic;">Don't worry about the comment involving &lt;!DOCTYPE html&gt;</p>
		<div class="acediv">
			<div id="editor-html-ctrl"></div>
		</div>
	</div>
</form>
<div class="row  row-padd">
	<button id="btnSaveControl" type="button" class="btn btn-success pull-right">Save control</button>
</div>

<script src="/vendor/ace-builds/src-min-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/acecode.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/register-control.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/bootstrap.min.js"></script>	
