
Register

{{#if device}}
<script type="text/javascript">
	var device = {{{device}}};
</script>
	<div class="row"><h3 class="page-header pull-right">Modify a device</h3></div>
{{else}}
			<div class="row"><h3 class="page-header pull-right">Register a new device</h3></div>			
{{/if}}

{{#if errors}}
      {{#each errors}}
        <div class="alert alert-danger">{{msg}}</div>
      {{/each}}
{{/if}}

<form method="post" action="/devices/register" id="deviceform">
	<div class="form-group">
		<label>Name</label>
		<input id="device-name" type="text" class="form-control" placeholder="Name this device" name="name" required>
	</div>

	<div class="form-group">
		<label>Type</label>
		<select id="device-type" class="access-select form-control">
			<option value="0">NodeMcu module with ESP8266 on board</option>
			<option value="1" selected="">Esp32 Development Module</option>
		</select>
	</div>


	<div class="form-horizontal">
		<label>Description</label>
		<div class="form-group">
			
			<div class="col-md-12">
				<textarea id="device-description" name="description" form="deviceform" class="form-control" rows="3" placeholder="Descripe your device, where is it, what does it control.  Is it dangerous?" required></textarea>
			</div>
		</div>
	</div>
	<div class="form-group">
		<label>url</label>
		<input id="device-url" type="text" class="form-control" placeholder="http://192.168.1.101:1234" name="url" required>
	</div>
	
</form>
<button id="btn-run" class="btn btn-default"> <span class=" pull-left glyphicon glyphicon-play"></span>&nbsp;Run </button>
<button id="btn-submit-deviceform" class="btn btn-success pull-right">Submit</button>
<script src="/js/register-device.js"></script>