<div class="row">
	<h3 class="page-header pull-right">New Card</h3>
</div>
{{#if errors}}
      {{#each errors}}
        <div class="alert alert-danger">{{msg}}</div>
      {{/each}}
{{/if}}
{{#if item}}
			<div id='item' data-card='{{{item}}}' />
			  
			
{{/if}}
<form  method="post" id="card-form">
	<div class="row row-padd">
		<h4 class="text-left">Name</h4>
			<p>Give the card a desciptive name, but not to long.</p>
		<input type="text"   id="name"     name="name" class="form-control" value="" placeholder="Name of your card">
		<input type="hidden" id="id"       name="id" value="">
		<input type="hidden" id="code"     name="code" value="">
		
	</div>

	<div class="form-horizontal">
		<label>Description</label>
		<p>Descripe what your card does. What device(s) will the user be controlling or seeing values from.</p>
		<div class="form-group">
			
			<div class="col-md-12">
				<textarea id="description" name="description" form="card-form" class="form-control" rows="3" placeholder="Descripe your card, and what you can do with it."></textarea>
			</div>
		</div>
	</div>
	<div class="row row-padd">
		<h4 class="text-left">Card Control</h4>
		<p>Here you need to insert the JavaScript code for your card.</p>
		<div class="acediv">
			<div id="editor-js-card">
			</div>
		</div>
	</div>
</form>
<div class="row  row-padd">
	<button id="btnUserAccessCard" type="button" class="btn btn-warning pull-left">User access</button>
	<button id="btnSaveCard" type="button" class="btn btn-success pull-right">Save Card</button>
</div>

<script src="/js/register-card.js" type="text/javascript" charset="utf-8"></script>
<script src="/ace-builds/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/acecode.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/bootstrap.min.js"></script>	
