

{{#if item}} <!-- if you want to edit a specific control -->
			<div id='item' data-control='{{{item}}}' />
			<div class="row"><h3 class="page-header pull-right">Modify Control</h3></div>
{{else}}			
			<div class="row"><h3 class="page-header pull-right">New Control</h3></div>
{{/if}}

{{#if itemUpload}}
	<script type="text/javascript">
		var itemUpload = {{{itemUpload}}};
	</script>
{{/if}}

{{#if errors}}
      {{#each errors}}
        <div class="alert alert-danger">{{msg}}</div>
      {{/each}}
{{/if}}

<form  method="post" id="control-form">
	<div class="row row-padd">
		<label>Name</label>
			<p>The name of the control needs to be exactly the same as the id of the template</p>
		<input type="text"   id="name"     name="name" class="form-control" value="" placeholder="Name of your control">
		<input type="hidden" id="id"       name="id" value="">
		<input type="hidden" id="code"     name="code" value="">
		<input type="hidden" id="template" name="template" value="">
	</div>

	<div class="form-horizontal">
		<label>Description</label>
		<p>Describe what your control does and/or what it can be used for.</p>
		<div class="form-group">
			
			<div class="col-md-12">
				<textarea id="description" name="description" form="control-form" class="form-control" rows="3" placeholder="Describe your control, and how to use it."></textarea>
			</div>
		</div>
	</div>
	<div class="row row-padd">
		<label>Documentation link</label>
		<p>Url to documentation about this control.</p>
		<!--todo: the input minimizes to quickly wen making the with less-->
		<div class="pull-left   col-md-11 row-nopadd">
			<input 	type="text"   	id="helpurl"  
					name="helpurl" 	class="form-control" 
					value="" 		placeholder="Url to documentation" 
					onchange="changeHelpHref(this, 'a-open-helpurl')"
					onkeyup ="changeHelpHref(this, 'a-open-helpurl')"
					paste   ="changeHelpHref(this, 'a-open-helpurl')">
		</div>
		<a id="a-open-helpurl" class="btn btn-default pull-right col-md-1" href="#" target="_blank"> <span class="glyphicon glyphicon-open-file"></span></a>
	</div>
	<div class="row row-padd">
		<label>Control class</label>
		<p>Here you need to insert the JavaScript class of you control.</p>
		<button 	id="btn-resize_editor-js-ctrl-container" 
					type="button"
					rel="tooltip" data-placement="top" title="Resize the code window" 
					class="btn btn-default btn-sm" 
					onclick="resizeAceWindow(this)"
					>
						<span class="glyphicon glyphicon-plus"></span>
		</button>
		<div id="editor-js-ctrl-container">
			<div class="acediv">
				<div id="editor-js-ctrl"></div>
			</div>
		</div>
	</div>
	<div class="row row-padd">
		<label>Template</label>
		<p>Here you need to insert the HTML template of your control.</p>
		<p style="font-size:11px; font-style: italic;">Don't worry about the comment involving &lt;!DOCTYPE html&gt;</p>
		<button 	id="btn-resize_editor-js-html-container" 
					type="button"
					rel="tooltip" data-placement="top" title="Resize the code window" 
					class="btn btn-default btn-sm" 
					onclick="resizeAceWindow(this)"
					>
						<span class="glyphicon glyphicon-plus"></span>
		</button>
		<div id="editor-js-html-container">
			<div class="acediv">
				<div id="editor-html-ctrl"></div>
			</div>
		</div>
	</div>
</form>
<div class="row  row-padd">
	<button id="btnUserAccessControl" type="button" class="btn btn-warning pull-left">User access</button>
	<button id="btnExportControl" type="button" class="btn btn-default pull-left" style="margin-left:15px">Export</button>
	<button id="btnSaveControl" type="button" class="btn btn-success pull-right">Save control</button>
		<span class ="save-check">
		<input type="checkbox" id="close-on-save" class="save-check pull-right" name="close-on-save" checked>
  		<label class="save-check-label pull-right" for="scales">On save, close page and list controls</label>
	</span>
</div>

<script src="/vendor/ace-builds/src-min-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/acecode.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/register-control.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/bootstrap.min.js"></script>	
