<div class="row">
	<h3 class="page-header pull-right">Device diagnostic card</h3>
</div>
<div class="row">
	<p>Here you can view information about the device.</p>
	<p id="status-text" class="alert alert-warning">The system has been unable to connect to the device.</p>
</div>


<script src="/js/controls/controlelements.js"></script>
<script src="/js/controls/device.js"></script>
<script src="/js/controls/pin.js"></script>

<div id="top"></div>
{{#if device}}
<script type="text/javascript">
	var device = {{{device}}}
</script>
{{/if}}

	<table id="table-device" class="table table-bordered table-hover">
		<thead>
			<tr>
				<td colspan="2" style="text-align: center;font-weight: bold">Device Information</td>
			</tr>
		</thead>
		<!--<tfoot>
			<tr>
				<td>Sum</td>
				<td>$180</td>
			</tr>
		</tfoot>-->
		<tbody>
			<tr><td>Name</td> 		<td id="device-name"></td></tr>
			<tr><td>Type</td> 		<td id="device-type-name"></td></tr>
			<tr><td>ID</td> 		<td id="device-id"></td></tr>
			<tr><td>Started</td>	<td id="server-started"></td></tr>
			<tr><td>Url</td> 		<td id="device-url"></td></tr>
			<tr><td>Description</td><td id="device-description"></td></tr>
			<tr id="tr-host-name" class="hidden" ><td>Host name</td><td id="device-host-name"></td></tr>
			<tr id="tr-mac-address"class="hidden" ><td>Mac address</td><td id="device-mac-address"></td></tr>
			<tr>
				<td>White list</td> 
				<td>
					<div class="form-group">
						 <div class="col-md-10">
							<select id="whitelist" class="form-control"></select>
						 </div>
						<div class="col-md-2">
							<button id="btnRemoveIp" type="button" id="show-contact-modal-button" class="btn btn-default">Remove </button>
						 </div>
						 
					</div>
					<div class="form-group">
						<div class="col-md-10">
							<input id="inputIpAddress" type="text" 
							placeholder="Add an ip to the whitelist of this device.  For example 192.1.1.54" class="form-control" />
						</div>
						<div class="col-md-2">
							<button  id="btnAddIp" type="button" class="btn btn-default">Add </button>
						</div>
					</div>
				</td></tr>




		</tbody>
	</table>
 <!-- <input id="chkPrepForHardware" type="checkbox" checked="checked"-->
 <span rel="tooltip" data-placement="top" title="Check the box if you need to change a mode of any pins for this device.  While this option is selected no data or pin value updates will be sent to the running device.">
 <input id="chkPrepForDownload" type="checkbox"  value="What is this value"
 >Prepare device for a new program to download.
 </span>
	<table id ="table-pins" class="table table-bordered table-hover">
		<thead>
			<tr>
				<td colspan="4" style="text-align: center;font-weight: bold">Pins on this device</td>
			</tr>
			<tr style="font-weight: bold">
				<td>Name</td>
				<td>Number</td>
				<td>Value</td>
				<td>Mode</td>
			</tr>
		</thead>
		<tfoot>
			<tr style="font-weight: bold">
				<td>Count</td>
				<td id="pin-count">0</td>
				<td></td>
				<td></td>
			</tr>
		</tfoot>
		<tbody>
			
		</tbody>
	</table>

<div class="inputDialog" id="getNum">
	<div class="inputDialogText">
		<span >Enter a new value for pin number </span>
		<span id="inputDialogPin" class="inputDialogPin"></span>
	</div>
	<input id="inputDialogValue" type="number" min="0" max="1024"/>
	<button id="btnSetPinValue" type="button" class="btn btn-default">Send</button>
	<button id="btnCancelSetPin" type="button" class="btn btn-default">Cancel</button>
 
</div>
<div class="overlay"></div>



{{#if admin}}
<!--todo: show only for card owners and admin -->
<div class="row  row-padd">
	<button  id ="btn-download-program" class="btn btn-success"> 
		<span class="glyphicon glyphicon-save-file"></span>&nbsp;Get program
	</button>
	<button onclick="changeHref('/run/', '/register/')" class="btn btn-success pull-right"> 
		<span class="glyphicon glyphicon-edit"></span>&nbsp;edit 
	</button>
	<button onclick="window.location.href='/monitors/device/{{deviceId}}'" class="btn btn-default btn-log-monitors pull-right" disabled="disabled"> 
		<span class="glyphicon glyphicon-wrench"></span>&nbsp;Monitors
	</button>
	<button class="btn btn-default btn-log-pins pull-right" disabled="disabled"> 
		<span class="glyphicon glyphicon-circle-arrow-down"></span>&nbsp;Log pins
	</button>
</div>
{{/if}}
<div id="bottom"></div>

<script src="/js/run-device.js"></script>