<div class="row"><h3 class="page-header pull-right">Server location</h3></div>

{{#if errors}}
	{{#each errors}}
		<div class="alert alert-danger">{{msg}}</div>
	{{/each}}
	
		<script type="text/javascript">
			var item = {{{item}}};
		</script>
{{/if}}
<br><br>
<div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <label for="latitude">Latitude</label>
                    <input id="latitude" type="number" step="0.001" class="form-control" value="64.133"/>
                </div>
                <div class="col-sm-4">
                    <label for="longitude">Longitude</label>
                    <input id="longitude" type="number" step="0.001" class="form-control" value="-21.9"/>
                </div>
				<div class="col-sm-4 hidden-if-not-https">
					<div for="button-location">
					<button id="button-location" type="button" class="pull-right location-button btn btn-info">Get my location</button>
					</div>
        		</div>
            </div>
    </div>


<script type="text/javascript">
	var geoLocation = {{{geoLocation}}};
</script>
<script src="/js/settings-location.js" type="text/javascript" charset="utf-8"></script>